.horarios_caixa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Idade Idade Idade"
        "Turno Hora Hora"
        "Turno2 Hora2 Hora2"
        "DIa Idade2 Idade2"
        "Dia2 Idade3 Idade3";
    height: 394px;
    max-width: 560px;
    max-height: auto;
    border-radius: 10px;
    padding-bottom: 25px;

}

.horarios_caixa>div {
    border: 1px solid white;
}

.Idade {
    grid-area: Idade;
    background-color: #FC6335;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Idade p {
    padding: 5px;
    margin: 0 auto;
    font-size: 50px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.Hora {
    grid-area: Hora;
    background-color: #033780;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hora p {
    padding: 0;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.Hora2 {
    grid-area: Hora2;
    background-color: #033780;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hora2 p {
    padding: 0;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.Turno {
    grid-area: Turno;
    background-color: #033780;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Turno p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}

.Turno2 {
    grid-area: Turno2;
    background-color: #033780;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Turno2 p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}

.Idade2 {
    grid-area: Idade2;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Idade2 p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: #033780;
    font-family: sans-serif;
    font-weight: bold;
}

.Idade3 {
    grid-area: Idade3;
    background-color: aliceblue;
    border-radius: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.Idade3 p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: #033780;
    font-family: sans-serif;
}

.Dia {
    grid-area: DIa;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dia p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: #033780;
    font-family: sans-serif;
}

.Dia2 {
    grid-area: Dia2;
    background-color: aliceblue;
    border-radius: 0px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dia2 p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: #033780;
    font-family: sans-serif;
}








.horarios_clube {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "Idade_clube Idade_clube Idade_clube"
        "turno_clube hora_clube hora_clube"
        "turno2_clube hora2_clube hora2_clube"
        "dia_clube serie_clube serie_clube"
        "dia2_clube serie2_clube serie2_clube"
        "dia3_clube serie3_clube serie3_clube"
        "dia4_clube serie4_clube serie4_clube";
    max-width: 560px;
    height: 518px;
    padding-bottom: 25px;

}

.horarios_clube>div {
    border: 1px solid white;
}

.Idade_clube {
    grid-area: Idade_clube;
    background-color: orange;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Idade_clube p {
    padding: 5px;
    margin: 0 auto;
    font-size: 50px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.turno_clube {
    grid-area: turno_clube;
    background-color: #033780;
    display: flex;
    align-items: center;
    justify-content: center;
}

.turno_clube p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.turno2_clube {
    grid-area: turno2_clube;
    background-color: #033780;
    display: flex;
    align-items: center;
    justify-content: center;
}

.turno2_clube p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.dia_clube {
    grid-area: dia_clube;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dia_clube p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}

.dia2_clube {
    grid-area: dia2_clube;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dia2_clube p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}

.dia3_clube {
    grid-area: dia3_clube;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dia3_clube p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}

.dia4_clube {
    grid-area: dia4_clube;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 0px 10px;
}

.dia4_clube p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}

.hora_clube {
    grid-area: hora_clube;
    background-color: #033780;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hora_clube p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.hora2_clube {
    grid-area: hora2_clube;
    background-color: #033780;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hora2_clube p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.serie_clube {
    grid-area: serie_clube;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serie_clube p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: #033780;
    font-family: sans-serif;
}

.serie2_clube {
    grid-area: serie2_clube;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serie2_clube p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: #033780;
    font-family: sans-serif;
}

.serie3_clube {
    grid-area: serie3_clube;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.serie3_clube p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: #033780;
    font-family: sans-serif;
}

.serie4_clube {
    grid-area: serie4_clube;
    background-color: aliceblue;
    border-radius: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serie4_clube p {
    padding: 5px;
    margin: 0 auto;
    font-size: 20px;
    color: #033780;
    font-family: sans-serif;
}
