.Idade {
    grid-area: Idade_clube;
    background-color: orangered;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    border: 1px solid white;
}
.Idade p {
    padding: 5px;
    margin: 0 auto;
    font-size: 50px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.Idade_clube {
    grid-area: Idade_clube;
    background-color: orange;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    border: 1px solid white;
}

.Idade_clube p {
    padding: 5px;
    margin: 0 auto;
    font-size: 50px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

#tabelaHorarios {
    width: 100%;
    
}

.tabelaHorarios {
    width: 450px;
    height: auto;
}

.caixa_texto_vantagens{
    padding-bottom: 15px;
}



.turnoManha > td {
    border: 1px solid white;
    background-color: #033780;
    height: 65px;
    text-align: center;
    color: white;
}

.turnoTarde > td {
    border: 1px solid white;
    background-color: #033780;
    height: 65px;
    text-align: center;
    color: white;
}


.td1 {
    border: 1px solid white;
    width: 33.33%;
    background-color: aliceblue;
    height: 65px;
    font-size: 18px;
    color: #033780;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.td2 {
    border: 1px solid white;
    background-color: aliceblue;
    height: 65px;
    font-size: 18px;
    color: #033780;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 600px) {

    .Idade{
    width: 250px;
}

.Idade p{
    font-size: 45px;
}

.Idade_clube{
    width: 250px;
}

.Idade_clube p{
    font-size: 45px;
}

.tabelaHorarios {
    width: 250px;
    
}

.td1{
    font-size: 15px;
}

.td2{
    font-size: 15px;
}



}

